@import "./styles/tokens/fonts.css";
@import "./styles/tokens/colors.css";
@import "./styles/tokens/typography.css";
@import "./styles/tokens/spacing.css";
@import "./styles/tokens/shape.css";
@import "./styles/tokens/layout.css";
@import "./styles/tokens/base.css";

a {
  text-underline-offset: 3px;
}

img {
  max-width: 100%;
  display: block;
}
